/* @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #1c1c1c;
    color: white;
}

.menu__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.menu__header__tittle {
    padding: 7px;
    border: 2px;
    margin-top: 10px;
    margin-left: 7vh;
    color: #fff;
    font-family: "Source Code Pro", monospace;
}

.menu__header__tittle:hover {
    color: red;
}

.menu__header__navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
    gap: 5vh;
}

.menu__header__navbar__options {
    padding: 7px;
    font-family: "Montserrat", sans-serif;
}

.menu__header__navbar__options:hover {
    color: red;
}

.apresentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 15%;
}

.apresentation__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 100px;
}

.apresentation__content__tittle {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentation__content__tittle__name {
    color: red;
}

.apresentation__content__text {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

.apresentation__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.apresentation__buttons__button {  
    width: 260px;
    padding: 16.5px 0;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    color: red;
    border: 1px solid red;
    font-family: "Montserrat", system-ui;
    align-items: center;

    display: flex;
    justify-content: center;
    gap: 8px;
}

.apresentation__buttons__button:hover {
    background-color: #272727;
}

.footer{
    text-align: center;
    background-color: #363636;
    padding: 2vh;
    font-family: 'Montserrat', system-ui;
    font-size: 15px;
    font-weight: 400;
}