/* @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --cor_primaria: #070F2B;
    --cor_secundaaria: #9290C3;
    --cor_terciaria: #535C91;
    --cor_quartenaria: #1B1A55;

    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-secundaria: "Krona One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    background-color: var(--cor_primaria);
    color: var(--cor_secundaaria);
}

.menu__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
}

.menu__header__tittle {
    padding: 7px;
    border: 2px;
    margin-top: 10px;
    margin-left: 7vh;
    color: var(--cor_secundaaria);
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
}

.menu__header__tittle:hover {
    color: var(--cor_terciaria);
}

.menu__header__navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
    gap: 5vh;
}

.menu__header__navbar__options {
    padding: 7px;
    font-family: var(--fonte-primaria);
    color: var(--cor_secundaaria);
    text-decoration: none;
    display: inline-block;
}

.menu__header__navbar__options:hover {
    color: var(--cor_terciaria);
    transform: scale(1.1);
    transition: .2s;
}

.apresentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3% 15% 5% 15%;
}

.apresentation__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 100px;
}

.apresentation__content__tittle {
    font-size: 36px;
    font-family: var(--fonte-secundaria);
}

.apresentation__content__tittle__name {
    color: var(--cor_terciaria);
}

.apresentation__content__text {
    font-size: 18px;
    font-family: var(--fonte-primaria);
}

.apresentation__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.apresentation__buttons__button {  
    width: 260px;
    padding: 16.5px 0;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    color: var(--cor_terciaria);
    border: 1px solid var(--cor_terciaria);
    font-family: var(--fonte-primaria);
    align-items: center;

    display: flex;
    justify-content: center;
    gap: 8px;
}

.apresentation__buttons__button:hover {
    background-color: var(--cor_primaria);
}

.footer{
    text-align: center;
    background-color: var(--cor_quartenaria);
    padding: 2vh;
    font-family: var(--fonte-primaria);
    font-size: 15px;
    font-weight: 400;
}